@model Application.Responses.PagedResponse<Application.DataTransfer.LogDto>

@{
    ViewData["Title"] = "Index";
    ViewData["Controller"] = "logs";
    ViewData["Action"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                UserId
            </th>
            <th>
                Action
            </th>
            <th>
                Date
            </th>
            <th>
                Success
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @if (item.Success)
                {
                    <p>Yes</p>
                }
                else
                {
                    <p>No</p>
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_PaginationPartial" model="Model" view-data="ViewData" />
