@model Application.Responses.PagedResponse<Application.DataTransfer.RoleDto>

@{
    ViewData["Title"] = "Roles";
    ViewData["Controller"] = "roles";
    ViewData["Action"] = "Index";
}

<h1>Roles</h1>
@using (Html.BeginForm("Index", "Roles", FormMethod.Get))
{
    <input type="text" name="name" id="name" class="form-control col-sm-2" placeholder="Role name" />
    
    <br />
    <button type="submit" class="form-control btn btn-primary">Search</button>
}

@if (TempData["error"] != null)
{
    <p class="text-danger">@TempData["error"]</p>
}

<p>
    <a asp-action="Create">Add new Role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Role Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PaginationPartial" view-data="ViewData" model="Model" />
