@model Application.DataTransfer.CommentDto

@{
    ViewData["Title"] = "Edit Comment";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input id="summernote" asp-for="Text" class="form-control" />
                <script>
                              $('#summernote').summernote({
                                tabsize: 2,
                                height: 120,
                                toolbar: [
                                  ['style', ['style']],
                                  ['font', ['bold', 'underline', 'clear']],
                                  ['color', ['color']],
                                  ['para', ['ul', 'ol', 'paragraph']],
                                  ['view', ['fullscreen', 'codeview', 'help']]
                                ]
                              });
                </script>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select name="UserId" class="form-control" multiple>
                    @foreach (var c in ViewBag.Users)
                    {
                        @if (Model.UserId == c.Id)
                        {
                            <option value="@c.Id" selected>@c.Username</option>
                        }
                        else
                        {
                            <option value="@c.Id">@c.Username</option>
                        }
                    }
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <select name="MovieId" class="form-control" multiple>
                    @foreach (var c in ViewBag.Movies)
                    {
                        @if (Model.MovieId == c.Id)
                        {
                            <option value="@c.Id" selected>@c.Title</option>
                        }
                        else
                        {
                            <option value="@c.Id">@c.Title</option>
                        }
                    }
                </select>
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posted" class="control-label"></label>
                <input asp-for="Posted" class="form-control" />
                <span asp-validation-for="Posted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

