@model Application.Responses.PagedResponse<Application.DataTransfer.GenreDto>

@{
    ViewData["Title"] = "Genres";
    ViewData["Controller"] = "genres";
    ViewData["Action"] = "Index";
}

<h1>Genres</h1>
@using(Html.BeginForm("Index", "Genres", FormMethod.Get))
{
    <input type="text" name="name" id="name" class="form-control" placeholder="Genre" />
    <br/>
    <button type="submit" class="form-control btn btn-primary">Search</button>
}

<p>
    <a asp-action="Create">Add new Genre</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PaginationPartial" model="Model" view-data="ViewData" />
