<!DOCTYPE html>
@using WebMVC.Session
@using Application.DataTransfer
@using Microsoft.AspNetCore.Http;
@{
    var user = Context.Session.Get<ShowUserDto>("User");
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cinemaki</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/lib/fontawesome-free-5.15.1-web/fontawesome-free-5.15.1-web/css/all.css" />
    <script defer src="~/lib/fontawesome-free-5.15.1-web/fontawesome-free-5.15.1-web/js/all.js" async></script>
    <!-- include summernote css/js -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cinemaki</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (Context.Session.GetString("User") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark align-content-end" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="MyProfile" asp-route-id="@user.Id">Hello, <i> @user.Username</i></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark align-content-end" asp-area="" asp-controller="Account" asp-action="Index">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark align-content-end" asp-area="" asp-controller="Account" asp-action="SignUpPage">Sign Up</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark align-content-end" asp-area="" asp-controller="Home" asp-action="Top100Imdb">IMDb Top 10</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark align-content-end" asp-area="" asp-controller="Home" asp-action="About">About us</a>
                        </li>

                    </ul>
                    @if (Context.Session.GetString("User") != null && user.RoleId == 2)
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin Actions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="@Url.Action("Index", "Users")">Users</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Roles")">Roles</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Movies")">Movies</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Genres")">Genres</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Reservations")">Reservations</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Projections")">Projections</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Halls")">Halls</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Seats")">Seats</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Actors")">Actors</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Countries")">Countries</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Comments")">Comments</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Languages")">Languages</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Writers")">Writers</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Posters")">Posters</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @if (TempData["error"] != null)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Oops.. </strong>@TempData["error"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Woohoo! </strong>@TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Cinemaki - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
