@model Application.Responses.PagedResponse<Application.DataTransfer.CountryDto>

@{
    ViewData["Title"] = "Countries";
    ViewData["Controller"] = "countries";
    ViewData["Action"] = "Index";
}

<h1>Countries</h1>

@using(Html.BeginForm("Index", "Countries", FormMethod.Get))
{
    <div class="row">
        <input type="text" name="name" id="name" class="form-control col-sm-2" placeholder="Country name" />
    </div><br/>
    <button type="submit" class="form-control">Search</button>
}

<p>
    <a asp-action="Create">Add new Country</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Country
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PaginationPartial" model="Model" view-data="ViewData" />
