@model Application.Responses.PagedResponse<Application.DataTransfer.HallDto>

@{
    ViewData["Title"] = "Halls";
    ViewData["Controller"] = "halls";
    ViewData["Action"] = "Index";
}

<h1>Halls</h1>

@if (TempData["error"] != null)
{
    <p class="text-danger">@TempData["error"]</p>
}

@using(Html.BeginForm("Index", "Halls", FormMethod.Get))
{
<div class="row">
    <input type="text" name="name" id="name" class="form-control col-sm-2" placeholder="Hall name" />
    <input type="text" name="maximumoccupancy" id="maximumoccupancy" class="form-control col-sm-2" placeholder="Maximum occupancy" />
    <input type="text" name="MinimumOccupancy" id="MinimumOccupancy" class="form-control col-sm-2" placeholder="Minimum occupancy" />
    <input type="text" name="id" id="id" class="form-control col-sm-1 offset-sm-1" placeholder="Hall id" />
</div><br/>
    <button type="submit" class="form-control btn btn-primary">Search</button>
}

<p>
    <a asp-action="Create">Add new Hall</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Maximum Occupancy
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaximumOccupancy)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PaginationPartial" model="Model" view-data="ViewData" />
