@using WebMVC.Session
@using Application.DataTransfer
@using Microsoft.AspNetCore.Http;
@model Application.DataTransfer.MovieDto

@{
    ViewData["Title"] = "Movies";
    var user = Context.Session.Get<ShowUserDto>("User");
}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">@Model.Title</h1>

            <!-- Author -->
            @*<p class="lead">
                 by
                 <a href="#">@user.Id</a>
                 <a href="#">@user.Identity</a>
            </p>*@

            <hr>

            <!-- Date/Time -->
            <p>Theater release: @Convert.ToDateTime(Model.DebutDate).ToString("dd-MMM yyyy")</p>


            <hr>
            <div class="row">
                <div class="col-md-7">
                    <!-- Preview Image -->
                    @foreach (var im in ViewBag.Posters)
                    {
                        <img class="img-fluid rounded mx-auto d-block text-center" src="~/uploads/@im.Name" alt="@im.Alt" style="height: 285px; width: 50%; display: block;">
                    }
                </div>
                <div class="col-md-5">
                    <h5 class="card-header">Genres</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    @foreach (var g in Model.GenresInfo)
                                    {
                                        <li class="d-block">
                                            <a href="#">@g.GenreName</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- Post Content -->
            <p class="lead">@Model.Plot</p>

            <hr />
            <div class="row">
                <div class="col-md-5">
                    Country:<i><b> @Model.CountryName</b></i> <br />
                    Production:<i><b> @Model.ProductionName</b></i> <br />
                    Runtime:<i><b> @(Model.LengthMinutes)minutes</b></i><br />
                    Box Office:<i><b> $@(Model.BoxOffice)M</b></i> <br />
                </div>
                <div class="col-md-5">
                    Language(s):
                    @foreach (var l in Model.LanguagesInfo)
                    {
                        <i><b>@l.LanguageName </b></i> <br />
                    }
                    Written by <br />
                    @foreach (var wr in Model.WritersInfo)
                    {
                        <i><b> @wr.Name</b></i> <br />
                    }
                    Starring:
                    @foreach (var a in ViewBag.Actors)
                    {
                        <i><b><a href="https://www.imdb.com/name/@a.Link">@a.FirstName @a.LastName</a></b></i>
                    }
                </div>
            </div>
            <hr />

            @if (Context.Session.GetString("User") != null)
            {
                <div class="row">
                    <div class="list-group col-md-8">
                        <a href="#" class="list-group-item list-group-item-action active">
                            Projections
                        </a>
                        @foreach (var pr in ViewBag.Projections)
                        {
                            <a href="/Account/ShowSeats/@pr.Id" class="list-group-item list-group-item-action">@Convert.ToDateTime(pr.DateBegin).ToString("dd-MMMM HH:mm") - Make a reservation</a>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="list-group col-md-8">
                        <a href="#" class="list-group-item list-group-item-action active">
                            Projections
                        </a>
                        @foreach (var pr in ViewBag.Projections)
                        {
                            <a href="#" class="list-group-item list-group-item-action disabled">@Convert.ToDateTime(pr.DateBegin).ToString("dd-MMMM HH:mm") - Login to make a reservation</a>
                        }
                    </div>
                </div>
            }



            @*<blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">
                        Someone famous in
                        <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>*@

            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
                {
                    @if (user != null)
                    {
                        @Html.Hidden("MovieId", Model.Id)
                        @Html.Hidden("UserId", user.Id)
                    }

                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">

                            <p>Your rating:</p>
                            <span class="rating">
                                <input id="rating5" type="radio" name="rating" value="5">
                                <label for="rating5">5</label>
                                <input id="rating4" type="radio" name="rating" value="4">
                                <label for="rating4">4</label>
                                <input id="rating3" type="radio" name="rating" value="3">
                                <label for="rating3">3</label>
                                <input id="rating2" type="radio" name="rating" value="2">
                                <label for="rating2">2</label>
                                <input id="rating1" type="radio" name="rating" value="1">
                                <label for="rating1">1</label>
                                <input id="rating0" type="radio" name="rating" value="0"hidden checked>
                                <label for="rating0">0</label>
                            </span>
                            <hr/>
                            <textarea name="text" class="form-control" rows="3"></textarea>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </div>
                }
            </div>

            <!-- Single Comment -->
            @foreach (var c in ViewBag.Comments)
            {
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">@c.UserName</h5>
                        @c.Text
                    </div>
                    <i>Posted: <br/>@Convert.ToDateTime(c.Posted).ToString("dd-MMM yyyy HH:mm")</i>
                </div>
            }

            <!-- Comment with nested comments -->
            @*<div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Commenter Name</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>

                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Commenter Name</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>

                    </div>
                </div>*@

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <!-- Side Widget -->
            @foreach (var pr in ViewBag.Projections)
            {
                <div class="card my-4">
                    <h5 class="card-header">@pr.HallName</h5>
                    <div class="card-body">
                        Begins: @Convert.ToDateTime(pr.DateBegin).ToString("dd-MMMM HH:mm") <br />
                        Ends: @Convert.ToDateTime(pr.DateEnd).ToString("dd-MMMM HH:mm")
                    </div>
                </div>
            }

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->