@model Application.DataTransfer.MovieDto

@{
    ViewData["Title"] = "Movies";
}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">@Model.Title</h1>

            <!-- Author -->
            @*<p class="lead">
            by
            <a href="#">Start Bootstrap</a>
        </p>*@

            <hr>

            <!-- Date/Time -->
            <p>Theater release: @Convert.ToDateTime(Model.DebutDate).ToString("dd-MMM yyyy")</p>
            

            <hr>
            <div class="row">
                <div class="col-md-7">
                    <!-- Preview Image -->
                    @foreach (var im in ViewBag.Posters)
                    {
                        <img class="img-fluid rounded mx-auto d-block text-center" src="~/uploads/@im.Name" alt="@im.Alt" style="height: 285px; width: 50%; display: block;">
                    }
                </div>
                <div class="col-md-5">
                    <h5 class="card-header">Genres</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    @foreach (var g in Model.GenresInfo)
                                    {
                                        <li class="d-block">
                                            <a href="#">@g.GenreName</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- Post Content -->
            <p class="lead">@Model.Plot</p>

            <hr />
            <div class="row">
                <div class="col-md-5">
                    Country: @Model.CountryName <br />
                    Production: @Model.ProductionName <br />
                </div>
                <div class="col-md-4">
                    Language(s):  
                    @foreach (var l in Model.LanguagesInfo)
                    {
                        @l.LanguageName <br />
                    }
                    Written by <br/>
                    @foreach(var wr in Model.WritersInfo)
                    {
                        @wr.Name <br/>
                    }
                </div>
            </div>
            
            

            @*<blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
                Someone famous in
                <cite title="Source Title">Source Title</cite>
            </footer>
        </blockquote>*@

            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
                {
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <textarea asp-for="" class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                }
            </div>

            <!-- Single Comment -->
            @foreach (var c in ViewBag.Comments)
                    {
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">@c.Username</h5>
                        @c.Text
                    </div>
                </div>
            }

            <!-- Comment with nested comments -->
            @*<div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                <div class="media mt-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <div class="media mt-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

            </div>
        </div>*@

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->