@model Application.Responses.PagedResponse<Application.DataTransfer.ShowUserDto>

@{
    ViewData["Title"] = "Users";
    ViewData["Controller"] = "users";
    ViewData["Action"] = "Index";
}

<h1>Users</h1>
@using (Html.BeginForm("Index", "Users", FormMethod.Get))
{
    <div class="row">
        <input type="text" name="firstname" id="firstname" class="form-control col-sm-2" placeholder="Name" />
        <input type="text" name="lastname" id="lastname" class="form-control col-sm-2" placeholder="Last Name" />
        <input type="text" name="rolename" id="rolename" class="form-control col-sm-2" placeholder="Role" />
        <input type="text" name="username" id="username" class="form-control col-sm-2" placeholder="Username" />
        <input type="text" name="email" id="email" class="form-control col-sm-4" placeholder="Email" />
    </div>
    <div class="row">
        <label for="ISDeleted">
            Show only deleted users:
        </label>
        <select name="ISDeleted" class="form-control col-sm-2">
            <option value="1">Yes</option>
            <option value="2">No</option>
        </select>
    </div>
    <br/>
    <button type="submit" class="form-control btn btn-primary">Search</button>
}

@if (TempData["error"] != null)
{
    <p class="text-danger">@TempData["error"]</p>
}

<p>
    <a asp-action="Create">Add new User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                RoleName
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PaginationPartial" model="Model" view-data="ViewData" />

