@using WebMVC.Session;
@using Application.DataTransfer;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Make your reservation";
    var user = Context.Session.Get<ShowUserDto>("User");
}


    <div class="container">
        <h2>@ViewBag.Projection.HallName </h2>
        <p> Occupancy: @(ViewBag.Projection.HallOccupancy) seats</p>
        <hr />
        @using (Html.BeginForm("MakeReservation", "Account", FormMethod.Post))
        {
            @Html.Hidden("UserId", user.Id)
            <input type="hidden" name="projectionid" value="@ViewBag.Projection.Id" />
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <p>Here you can select your preferred seats</p>
                    <hr class="my-4" />
                    @foreach (var x in ViewBag.Rows)
                    {
                        <div class="row">
                            <h4 class="col-sm-2">Row: @x.Name</h4>
                            <div class="col-sm-11">
                                @foreach (var s in x.Seats)
                                {

                                    @foreach (var t in ViewBag.Taken)
                                    {
                                        if (s.Id == t.Id)
                                        {
                                            <label class="checkbox-label myPad" for="@s.Id">
                                                @(s.Name)@(s.Number)
                                                <input type="checkbox" name="ReservationSeats[]" value="@s.Id" id="@s.Id"checked disabled />
                                                <span class="fas fa-lock"></span>
                                            </label>
                                        }
                                    }
                                    <label class="checkbox-label myPad" for="@s.Id">
                                        @(s.Name)@(s.Number)
                                        <input type="checkbox" name="ReservationSeats[]" value="@s.Id" id="@s.Id" />
                                        <span class="fa fa-check"></span>
                                    </label>

                                }
                            </div>
                        </div>
                        <hr class="my-4" />
                    }
                </div>
            </div>
            <button type="submit" class="form-control btn btn-lg btn-info">
                Make reservation
            </button>
        }

    </div>
