@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Make your reservation";
}


<div class="container">
    <h2>@ViewBag.Projection.HallName </h2>
    <p> Occupancy: @(ViewBag.Projection.HallOccupancy) seats</p>
    <hr />
    @foreach (var x in ViewBag.Seats)
    {
        <label class="checkbox-label">
            @(x.Name)@(x.Number)
            <input type="checkbox" name="ReservationSeats[]" value="@x.Id" id="@x.Id" />
            <span class="glyphicon glyphicon-unchecked"></span>
        </label>
    }
</div>
