@using WebMVC.Session;
@using Application.DataTransfer;
@using System.Linq;
@{
    ViewData["Title"] = "Make your reservation";
    var user = Context.Session.Get<ShowUserDto>("User");
}


    <div class="container">
        <h2>@ViewBag.Projection.HallName </h2>
        <p> Occupancy: @(ViewBag.Projection.HallOccupancy) seats</p>
        <hr />
        @using (Html.BeginForm("MakeReservation", "Account", FormMethod.Post))
        {
            @Html.Hidden("UserId", user.Id)
            <input type="hidden" name="projectionid" value="@ViewBag.Projection.Id" />
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <p>Here you can select your preferred seats</p>
                    <hr class="my-4" />
                    @foreach (var x in ViewBag.Rows)
                    {
                        <div class="row">
                            <h4 class="col-sm-2">Row: @x.Name</h4>
                            <div class="col-sm-11">
                                @foreach (var s in x.Seats)
                                {
                                    if ((ViewBag.Taken as List<SeatDto>).Any(x => x.Id == s.Id))
                                    {
                                <label class="checkbox-label myPad" for="@s.Id" style="color: red;">
                                    @(s.Name)@(s.Number)
                                    <span class="fas fa-lock">&nbsp;&nbsp;</span>
                                </label>
                                    }
                                    else 
                                    { 
                                    <label class="checkbox-label myPad" for="@s.Id">
                                        @(s.Name)@(s.Number)
                                        <input type="checkbox" name="ReservationSeats[]" value="@s.Id" id="@s.Id" />
                                        <span class="fas fa-chair">&nbsp;&nbsp;</span>
                                    </label>
                                    }
                                }
                            </div>
                        </div>
                        <hr class="my-4" />
                    }
                </div>
            </div>
            <button type="submit" class="form-control btn btn-lg btn-info">
                Make reservation
            </button>
        }

    </div>
