@model Application.Responses.PagedResponse<Application.DataTransfer.ReservationDto>

@{
    ViewData["Title"] = "Reservations";
    ViewData["Controller"] = "reservations";
    ViewData["Action"] = "Index";
}

@if(TempData["error"] != null)
{
    <p class="text-danger">@TempData["error"]</p>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Username
            </th>
            <th>
                ProjectionBegin
            </th>
            <th>
                MovieName
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectionBegin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_PaginationPartial" model="Model" view-data="ViewData" />
