@model Application.Responses.PagedResponse<Application.DataTransfer.ReservationDto>

@{
    ViewData["Title"] = "Reservations";
    ViewData["Controller"] = "reservations";
    ViewData["Action"] = "Index";
}

<h1>Reservations</h1>

@using(Html.BeginForm("Index", "Reservations", FormMethod.Get))
{
<div class="row">
    <select class="form-control col-sm-3" name="movieid" id="movieid">
        <option value="0">Select movie...</option>
        @foreach (var m in ViewBag.Movies)
        {
            <option value="@m.Id">@m.Title</option>
        }
    </select>

    <select class="form-control col-sm-3" name="hallid" id="hallid">
        <option value="0">Select hall...</option>
        @foreach (var h in ViewBag.Halls)
        {
            <option value="@h.Id">@h.Name</option>
        }
    </select>

    <select class="form-control col-sm-6" name="projectionid" id="projectionid">
        <option value="0">Select projection...</option>
        @foreach (var p in ViewBag.Projections)
        {
            <option value="@p.Id">@p.DateBegin.ToString("dddd, dd-MMMM yyyy") @p.MovieName</option>
        }
    </select>
</div><br/>
<div class="row">
    <input type="text" name="userid" id="userid" class="form-control col-sm-3" placeholder="User id" />
    <input type="text" name="username" id="username" class="form-control col-sm-3" placeholder="Username" />
</div>
    <button type="submit" class="form-control btn btn-primary">Search</button>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Username
            </th>
            <th>
                ProjectionBegin
            </th>
            <th>
                MovieName
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectionBegin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_PaginationPartial" model="Model" view-data="ViewData" />
