@model Application.DataTransfer.MovieDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MovieDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthMinutes" class="control-label"></label>
                <input asp-for="LengthMinutes" class="form-control" />
                <span asp-validation-for="LengthMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plot" class="control-label"></label>
                <input asp-for="Plot" class="form-control" />
                <span asp-validation-for="Plot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoxOffice" class="control-label"></label>
                <input asp-for="BoxOffice" class="form-control" />
                <span asp-validation-for="BoxOffice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DebutDate" class="control-label"></label>
                <input asp-for="DebutDate" class="form-control" />
                <span asp-validation-for="DebutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Is3D" /> @Html.DisplayNameFor(model => model.Is3D)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select name="CountryId" class="form-control">
                    @foreach (var c in ViewBag.Countries)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductionId" class="control-label"></label>
                <select name="ProductionId" class="form-control">
                    @foreach (var p in ViewBag.Productions)
                    {
                        <option value="@p.Id">@p.Name</option>
                    }
                </select>
                <span asp-validation-for="ProductionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatedId" class="control-label"></label>
                <select name="RateId" class="form-control">
                    @foreach (var r in ViewBag.Rateds)
                    {
                        <option value="@r.Id">@r.Name</option>
                    }
                </select>
                <span asp-validation-for="RatedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="MovieLanguages" class="control-label"></label>
                    <select name="MovieLanguages" class="form-control" multiple>
                        @foreach (var c in ViewBag.Languages)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    </select>
                    <span asp-validation-for="MovieLanguages" class="text-danger"></span>
                
                    <label asp-for="MovieGenres" class="control-label"></label>
                    <select name="MovieGenres" class="form-control" multiple>
                        @foreach (var g in ViewBag.Genres)
                        {
                            <option value="@g.Id">@g.Name</option>
                        }
                    </select>
                    <span asp-validation-for="MovieGenres" class="text-danger"></span>
                
                    <label asp-for="MovieWriters" class="control-label"></label>
                    <select name="MovieWriters" class="form-control" multiple>
                        @foreach (var w in ViewBag.Writers)
                        {
                            <option value="@w.Id">@w.Name</option>
                        }
                    </select>
                    <span asp-validation-for="MovieWriters" class="text-danger"></span>
                
                    <label asp-for="MovieActors" class="control-label"></label>
                    <select name="MovieActors" class="form-control" multiple>
                        @foreach (var a in ViewBag.Actors)
                        {
                            <option value="@a.Id">@a.FirstName @a.LastName</option>
                        }
                    </select>
                    <span asp-validation-for="MovieActors" class="text-danger"></span>
                
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

