@model Application.DataTransfer.MovieDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="container" style="display:block">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row col-lg-12 col-md-12 col-sm-12">
                <div class="form-group col-sm-4">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="LengthMinutes" class="control-label"></label>
                    <input asp-for="LengthMinutes" class="form-control" />
                    <span asp-validation-for="LengthMinutes" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="BoxOffice" class="control-label"></label>
                    <input asp-for="BoxOffice" class="form-control" />
                    <span asp-validation-for="BoxOffice" class="text-danger"></span>
                </div>
            </div>

            <br/>

            <div class="row col-lg-12 col-md-12 col-sm-12">
                <div class="form-group col-md-6">
                    <label asp-for="DebutDate" class="control-label"></label>
                    <input asp-for="DebutDate" class="form-control" />
                    <span asp-validation-for="DebutDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>

            <hr/>
            <br/>

            <div class="row col-lg-12 col-md-12 col-sm-12">
                <div class="form-group col-sm-6 col-md-5">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea rows="5" cols="50" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6 col-md-7">
                    <label asp-for="Plot" class="control-label"></label>
                    <textarea rows="7" cols="50" asp-for="Plot" class="form-control"></textarea>
                    <span asp-validation-for="Plot" class="text-danger"></span>
                </div>
            </div>

            <hr/>
            <br/>

            <div class="row col-lg-12 col-md-12 col-sm-12">
                <div class="form-group col-sm-6 col-md-3">
                    <label asp-for="MovieGenres" class="control-label"></label>
                    <select name="MovieGenres" class="form-control" multiple>
                        @foreach (var c in ViewBag.Genres)
                        {
                            @foreach (var mg in Model.GenresInfo)
                            {
                                @if (mg.GenreId == c.Id)
                                {
                                    <option value="@c.Id" selected>@c.Name</option>
                                }
                                else
                                {
                                    <option value="@c.Id">@c.Name</option>
                                }
                            }
                        }
                    </select>
                    <span asp-validation-for="MovieGenres" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6 col-md-3">
                    <label asp-for="MovieActors" class="control-label"></label>
                    <select name="MovieActors" class="form-control" multiple>
                        @foreach (var model in Model.ActorsInfo)
                        {
                            @foreach (var ma in ViewBag.Actors)
                            {
                                @if (model.ActorId == ma.Id)
                                {
                                    <option value="@ma.Id" selected>@ma.FirstName @ma.LastName</option>
                                }
                            }
                        }
                    </select>
                    <span asp-validation-for="MovieActors" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6 col-md-3">
                    <label asp-for="MovieLanguages" class="control-label"></label>
                    <select name="MovieLanguages" class="form-control" multiple>
                        @foreach (var a in ViewBag.Languages)
                        {
                            @foreach (var ma in Model.LanguagesInfo)
                            {
                                @if (ma.LanguageId == a.Id)
                                {
                                    <option value="@a.Id" selected>@a.Name</option>
                                }
                                else
                                {
                                    <option value="@a.Id">@a.Name</option>
                                }
                            }
                        }
                    </select>
                    <span asp-validation-for="MovieLanguages" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6 col-md-3">
                    <label asp-for="MovieWriters" class="control-label"></label>
                    <select name="MovieWriters" class="form-control" multiple>
                        @foreach (var a in ViewBag.Writers)
                        {
                            @foreach (var ma in Model.WritersInfo)
                            {
                                @if (ma.WriterId == a.Id)
                                {
                                    <option value="@a.Id" selected>@a.Name</option>
                                }
                                else
                                {
                                    <option value="@a.Id">@a.Name</option>
                                }
                            }
                        }
                    </select>
                    <span asp-validation-for="MovieWriters" class="text-danger"></span>
                </div>
            </div>

            <br/>

            <div class="row col-lg-12 col-md-12 col-sm-12">
                <div class="form-group col-md-6 col-sm-3">
                    <label asp-for="CountryId" class="control-label"></label>
                    <select name="CountryId" class="form-control">
                        @foreach (var c in ViewBag.Countries)
                        {
                            @if (c.Id == Model.CountryId)
                            {
                                <option value="@c.Id" selected>@c.Name</option>
                            }
                            else
                            {
                                <option value="@c.Id">@c.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="CountryId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 col-sm-3">
                    <label asp-for="ProductionId" class="control-label"></label>
                    <select name="ProductionId" class="form-control">
                        @foreach (var p in ViewBag.Productions)
                        {
                            @if (p.Id == Model.ProductionId)
                            {
                                <option value="@p.Id" selected>@p.Name</option>
                            }
                            else
                            {
                                <option value="@p.Id">@p.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="ProductionId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 col-sm-3">
                    <label asp-for="RatedId" class="control-label"></label>
                    <select name="RatedId" class="form-control">
                        @foreach (var r in ViewBag.Rateds)
                        {
                            @if (r.Id == Model.RatedId)
                            {
                                <option value="@r.Id" selected>@r.Name</option>
                            }
                            else
                            {
                                <option value="@r.Id">@r.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="RatedId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

