@using Microsoft.AspNetCore.Http
@model Application.Responses.PagedResponse<Application.DataTransfer.MovieDto>

@{
    ViewData["Title"] = "Movies";
    ViewData["Controller"] = "movies";
    ViewData["Action"] = "Index";
}

<h1>Index</h1>
@if(TempData["success"] != null)
{
    <p class="text-success">@TempData["success"]</p>
}

@if (Context.Session.GetString("User") != null)
{
    <p>Postoji neka sesija</p>
}

@if (TempData["error"] != null)
{
    <p class="text-danger">@TempData["error"]</p>
}

<p>
    <a asp-action="Create">Add new Movie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                Release date
            </th>
            <th>
                End of release
            </th>
            <th>
                Country
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @item.DebutDate.ToShortDateString()
                </td>
                <td>
                    @item.EndDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
