@using Microsoft.AspNetCore.Http
@model Application.Responses.PagedResponse<Application.DataTransfer.MovieDto>

@{
    ViewData["Title"] = "Movies";
    ViewData["Controller"] = "movies";
    ViewData["Action"] = "Index";
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success">@TempData["success"]</div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-error">@TempData["error"]</div>
}
@using (Html.BeginForm("Index", "Movies", FormMethod.Get))
{
    <div class="row">
        <input type="text" name="title" id="title" class="form-control col-sm-2" placeholder="Movie title" />
        <input type="text" name="description" id="description" class="form-control col-sm-6" placeholder="Movie Description" />
        <input type="text" name="lengthminutes" id="lengthminutes" class="form-control col-sm-2" placeholder="Length in minutes" />
        <label for="is3d" class="form-control col-sm-1">Is it 3D ?</label>
        <input type="checkbox" name="is3d" id="is3d" class="form-control col-sm-1" />
    </div>
    <br />
    <div class="row">
        <span class="col-sm-2">Theatre release after:</span>
        <span class="col-sm-3">Theatre release before:</span>
    </div>
    <div class="row">
        <label for="debutdate"></label>
        <input type="date" name="debutdate" id="debutdate" class="form-control col-sm-2" placeholder="Debut date" />

        <label for="enddate"></label>
        <input type="date" name="enddate" id="enddate" class="form-control col-sm-2" placeholder="End date" />
    </div>
    <br />
    <div class="row">
        <input type="text" name="boxoffice" id="boxoffice" class="form-control col-sm-2" placeholder="Budget bigger than" />
        <input type="text" name="boxofficesmallerthan " id="boxofficesmallerthan" class="form-control col-sm-2" placeholder="Budget lower than" />
    </div>


    <br />
    <button type="submit" class="form-control btn btn-primary">Search</button>
}

<p>
    <a asp-action="Create">Add new Movie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                Release date
            </th>
            <th>
                End of release
            </th>
            <th>
                Country
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @item.DebutDate.ToString("dd-MMMM yyyy")
                </td>
                <td>
                    @item.EndDate.ToString("dd-MMMM yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PaginationPartial" model="Model" view-data="ViewData" />