@model Application.Responses.PagedResponse<Application.DataTransfer.MovieDto>

@{
    ViewData["Title"] = "Movies";
    ViewData["Controller"] = "movies";
    ViewData["Action"] = "Index";
}

<h1>Index</h1>

@if (TempData["error"] != null)
{
    <p class="text-danger">@TempData["error"]</p>
}

<p>
    <a asp-action="Create">Add new Movie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Length(Minutes)
            </th>
            <th>
                Plot
            </th>
            <th>
                BoxOffice
            </th>
            <th>
                Release date
            </th>
            <th>
                End of release
            </th>
            <th>
                3D
            </th>
            <th>
                Country
            </th>
            <th>
                Production
            </th>
            <th>
                Rated
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LengthMinutes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxOffice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DebutDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Is3D)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RatedId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
