@model Application.Responses.PagedResponse<Application.DataTransfer.SeatDto>

@{
    ViewData["Title"] = "Index";
    ViewData["Controller"] = "seats";
    ViewData["Action"] = "Index";
}

@if (TempData["error"] != null)
{
    <p class="text-danger">@TempData["error"]</p>
}

<p>
    <a asp-action="Create">Add new Seat</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Number
            </th>
            <th>
                IsBroken
            </th>
            <th>
                HallId
            </th>
            <th>
                HallName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBroken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HallId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HallName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PaginationPartial" model="Model" view-data="ViewData" />
