@model Application.Responses.PagedResponse<Application.DataTransfer.SeatRowDto>

@{
    ViewData["Title"] = "Seats";
    ViewData["Controller"] = "seats";
    ViewData["Action"] = "Index";
}

@using(Html.BeginForm("Index", "Seats", FormMethod.Get))
{
    <div class="row">
        <input type="text" name="name" id="name" class="form-control col-sm-2" placeholder="Seat row letter"/>
        <input type="text" name="number" id="number" class="form-control col-sm-2" placeholder="Seat number"/>
        <input type="text" name="hallid" id="hallid" class="form-control col-sm-1 offset-sm-1" placeholder="Hall id"/>
        <input type="text" name="hallname" id="hallname" class="form-control col-sm-2" placeholder="Hall name"/>
        <label for="isbroken" class="form-control col-sm-1">Is it broken ?</label>
        <input type="checkbox" name="isbroken" id="isbroken" class="form-control col-sm-1"/>
    </div><br/>
    <button type="submit" class="form-control btn btn-primary">Search</button>
}

<p>
    <a asp-action="Create">Add new Seat</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Number
            </th>
            <th>
                IsBroken
            </th>
            <th>
                HallId
            </th>
            <th>
                HallName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            @foreach (var seat in item.Seats)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => seat.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => seat.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => seat.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => seat.IsBroken)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => seat.HallId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => seat.HallName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = seat.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = seat.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = seat.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<partial name="_PaginationPartial" model="Model" view-data="ViewData" />
