@model Application.Responses.PagedResponse<Application.DataTransfer.ProjectionDto>

@{
    ViewData["Title"] = "Projections";
    ViewData["Controller"] = "projections";
    ViewData["Action"] = "Index";
}

<h1>Projections</h1>

@using(Html.BeginForm("Index", "Projections", FormMethod.Get))
{
    <div class="row">
        <span class="col-sm-3">Begins after:</span>
        <span class="col-sm-3">Ends before:</span>
    </div>
    <div class="row">
        <input type="date" name="beginsafter" id="beginsafter" class="form-control col-sm-3" />
        <input type="date" name="endsbefore" id="endsbefore" class="form-control col-sm-3" />
    </div><br/>
    <div class="row">
        <input type="text"name="movieid" id="movieid" class="form-control col-sm-2" placeholder="Movie id" />
        <input type="text"name="moviename" id="moviename" class="form-control col-sm-3" placeholder="Movie name" />
        <input type="text"name="hallname" id="hallname" class="form-control col-sm-3" placeholder="Hall name" />
    </div><br/>
    <button type="submit" class="form-control btn btn-primary">Search</button>
}

<p>
    <a asp-action="Create">Add new Projection</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                DateBegin
            </th>
            <th>
                DateEnd
            </th>
            <th>
                HallName
            </th>
            <th>
                MovieName
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBegin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HallName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PaginationPartial" model="Model" view-data="ViewData" />
